__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/
env/
.env
*.db
*.sqlite3
.pytest_cache/
.mypy_cache/
.ruff_cache/
.git/
.github/
.gitignore
.dockerignore
codebase_index/
pkgs_tmp/
*.whl
desktop.ini
.DS_Store
tests/
README.md
LICENSE
CONTRIBUTING.md
docker-compose.yml
docker-compose.prod.yml
